pre {
  width: 100%;
  text-align: center;
  border: 0px;
  background-color: transparent;
  color: #BBBBBB;
}

button {
  width: 100%;  
  text-align: center;
  padding: 0;
}

a {
  width: 100%;
}

.gradientBackground {
  background-image: linear-gradient(to right, #963558, #235179);
  color: white;
}

.cardMain {
  padding: 0;
  width: 70%;
}

mat-list {
  width: 90%;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
}

.mat-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.themedButton {
  height: 100%;
}

.simpleButton {
  background-color: white;
  border: solid 1px #F1F1F1;
}

.cardContent {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

pre{
  margin: 0;
  padding: 0;
}

