<mat-card class="cardMain">
  <mat-card-header class="gradientBackground cardHeader">
    <mat-card-title>Log in to FAU Research Hub</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cardContent">
    <mat-list>
      <mat-list-item>
        <button class="gradientBackground themedButton mat-elevation-z2" mat-button>Log in with FAUNet Id</button>
      </mat-list-item>
      <mat-list-item>
        <pre>Don't have FAUNet Id?</pre>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="simpleButton" routerLink="/auth/login">Log in with email</button>
      </mat-list-item>
      <mat-list-item>
        <pre>or</pre>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="simpleButton">Register with email</button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

